{%- liquid
  assign blockId = block.id
  if product
    assign blockId = block.id | append: product.id
  endif
-%}
{% style %}
@media only screen and (max-width: 589px){
  .text-right{
    text-align: left !important;
  }
}
  .input-label {
    margin-right: 30px;
    padding-top: 10px;
  }
  .input-label span {
    color: red;
  }
  input[type="text"],input[type="email"], input[type="tel"], textarea {
    border-color: #c7c7c7;
    border-radius: 5px;
  }
  .submit-btn {
    text-align: center;
    border: 1px solid #7d7d7d;
    border-radius: 30px;
    padding: 10px;
    width:100%;
    margin: 40px auto;
  }
{% endstyle %}
<div class="index-section">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item{% if block.settings.narrow_column %} medium-up--three-quarters medium-up--push-one-eighth{% endif %}">
        <p class="text-right input-label"><span>※印は必須項目となります。</span></p>
        <div class="form-vertical">
          {%- assign form_id = 'contact-' | append: blockId -%}
          {%- form 'contact', id: form_id  -%}

            {%- if form.posted_successfully? -%}
              <p class="note note--success">
                {{ 'contact.form.post_success' | t }}
              </p>
            {%- endif -%}

            {{ form.errors | default_errors }}

            <div class="grid grid--small">
              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for=" ContactFormName-{{ blockId }}">お名前 <span>※</span></label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <input type="text" id="ContactFormName-{{ blockId }}" class="input-full" name="contact[name]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>
              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for=" ContactFormNameKana-{{ blockId }}">フリガナ <span>※</span></label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <input type="text" id="ContactFormNameKana-{{ blockId }}" class="input-full" name="contact[name_kana]" autocapitalize="words" value="{% if form.name %}{{ form.name }}{% elsif customer %}{{ customer.name }}{% endif %}">
              </div>


              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for=" ContactFormAddress-{{ blockId }}">住所</label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <input type="text" id="ContactFormAddress-{{ blockId }}" class="input-full" name="contact[address]" autocapitalize="words">
              </div>



              {%- if block.settings.show_phone -%}
                <div class="grid__item medium-up--one-quarter">
                  <label class="text-right input-label" for="ContactFormPhone-{{ blockId }}">電話番号</label>
                </div>
                <div class="grid__item medium-up--three-quarters">
                  <input type="tel" id="ContactFormPhone-{{ blockId }}" class="input-full" name="contact[phone]" pattern="[0-9\-]*" value="{% if form.phone %}{{ form.phone }}{% elsif customer %}{{ customer.phone }}{% endif %}">
                </div>
              {%- endif -%}

              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for="ContactFormEmail-{{ blockId }}">メールアドレス <span>※</span></label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <input type="email" id="ContactFormEmail-{{ blockId }}" class="input-full" name="contact[email]" autocapitalize="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>

              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for="ContactFormEmailConfirmation-{{ blockId }}">メールアドレス（確認） <span>※</span></label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <input type="email" id="ContactFormEmailConfirmation-{{ blockId }}" class="input-full" name="contact[email_confirm]" autocapitalize="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
              </div>


              <div class="grid__item medium-up--one-quarter">
                <label class="text-right input-label" for="ContactFormMessage-{{ blockId }}">お問い合わせ内容 <span>※</span></label>
              </div>
              <div class="grid__item medium-up--three-quarters">
                <textarea rows="5" id="ContactFormMessage-{{ blockId }}" class="input-full" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
              </div>
  




            </div>

            <button type="submit" class="submit-btn">
              この内容で送信する
            </button>

            {% comment %} {{ 'shopify.online_store.spam_detection.disclaimer_html' | t }} {% endcomment %}

          {%- endform -%}
        </div>
      </div>
    </div>
  </div>
</div>
