{%- paginate blog.articles by 5 -%}

<div data-section-id="{{ section.id }}" data-section-type="blog">
  <div class="page-width page-content">

    {%- render 'breadcrumbs' -%}

    <header class="section-header">
      <h1 class="section-header__title">
        BLOG
        {%- if section.settings.blog_show_tag_filter -%}
        {%- if blog.tags.size > 0 -%}
        <select id="BlogTagFilter">
          <option value="/blogs/{{ blog.handle }}">All</option>
          {%- for tag in blog.all_tags -%}
          {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_" %}{% if
          tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{% endif
          %}{% endif %}
          <option value="/blogs/{{ blog.handle }}/tagged/{{ tag | handleize }}" {% if current_tags contains tag
            %}selected{% endif %}>{{ tag }}</option>
          {%- endfor -%}
        </select>
        {%- endif -%}
        {%- endif -%}

      </h1>
    </header>
    <div class="grid">
      <div class="grid__item grid-product medium-up--one-quarter display-pc">
        <h3 class="blog-categories">Categories</h3>
        <div class="category-area">
          <ul>
            {% for link in linklists.categories.links %}
            <li class="{% if blog.id == link.object.id %}strong{% endif %}"><a href="{{ link.object.url }}" >{{ link.object.title }}　({{
              link.object.articles_count }})</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="grid__item grid-product medium-up--one-quarter display-sp">
        <div class="category-area">
          <button type="button" class="sp-categories mobile-nav__link--button collapsible-trigger collapsible--auto-height" aria-controls="Linklist-categories">
            <span class="mobile-nav__faux-link">Categories</span>
            <div class="mobile-nav__toggle">
              <span class="categories-arrow">
                {%- render 'collapsible-icons' -%}
              </span>
            </div>
          </button>

          <div id="Linklist-categories" class="mobile-nav__sublist collapsible-content collapsible-content--all">
            <div class="collapsible-content__inner">
              <ul class="mobile-nav__sublist">
                {%- for childlink in linklists.categories.links -%}
                  <li class="mobile-nav__item">
                    <div class="mobile-nav__child-item">
                      <a href="{{ childlink.url }}" class="mobile-nav__link{% if blog.id == childlink.object.id %} strong {% endif %}" id="Sublabel-{{ grand_child_list_handle }}">
                        {{ childlink.title | escape }}({{ childlink.object.articles_count }})
                      </a>
                    </div>
                  </li>
                {%- endfor -%}
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="grid__item grid-product medium-up--three-quarters">
        <div class="grid">
          {%- for article in blog.articles -%}
          <div class="grid__item grid-product medium-up--one-third">

            {%- liquid
            assign featured_image_src = ''

            if article.image
            assign featured_image_src = article | img_url: '1024x1024'
            endif
            -%}

            <article class="custom-article-content" data-aos>
              <div class=" {% if article.image == blank %} article__image-wrap--empty{% endif %}">
                {%- unless article.image == blank -%}
                <div class="article-image-wrap image-wrap">
                  <div class="animate-me lazyload article-image--bgset"
                    data-bgset="{% render 'bgset', image: article.image %}" data-sizes="auto">
                  </div>
                  <noscript>
                    <div class="animate-me lazyloaded article-image--bgset"
                      style="background-image: url({{ article.image | img_url: '500x' }})"></div>
                  </noscript>
                </div>
                {%- endunless -%}
              </div>

              <div class="article__content">
                <div class="article__content-meta">


                  <h2 class="h3 article__h3">
                    <a href="{{ article.url }}">{{ article.title | truncate: 40, '...'}}</a>
                  </h2>

                  {%- if section.settings.blog_show_author -%}
                  <div class="article__author">by {{ article.author }}</div>
                  {%- endif -%}
                </div>

                <div class="rte rte--block">
                  {%- if article.excerpt.size > 0 -%}
                  {{ article.excerpt }}
                  {%- else -%}
                  {{ article.content | strip_html | truncate: 70, '...' }}
                  {%- endif -%}
                </div>
                <div class="d-flex">
                  <div class="article__date">
                    {%- if section.settings.blog_show_date -%}
                    {{ article.published_at | time_tag: '%Y.%m.%d' }}
                    {%- endif -%}
                  </div>
                  <a href="{{ article.url }}" class="btn article_view--btn">VIEW MORE</a>
                </div>
                <div class="tag-list">
                  {%- if section.settings.blog_show_tags and article.tags.size > 0 -%}
                  {%- for tag in article.tags -%}
                  {% if tag contains "_" %}{%- assign tag_starts_with = tag | slice: 0 -%}{% if tag_starts_with == "_"
                  %}{% if
                  tag_count %}{%- assign tag_count = tag_count | minus: 1 | at_least: 0 -%}{% endif %}{% continue %}{%
                  endif
                  %}{% endif %}
                  <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="link-tag">
                    {{ tag | truncate: 8 }}
                  </a>
                  {% assign loo_index = forloop.index | modulo: 3 %}
                  {% if loo_index == 0 %}
                </div>
                <div class="tag-list">{% endif %}
                  {%- endfor -%}
                  {%- endif -%}
                  {%- if section.settings.blog_show_comments and article.comments_count > 0 -%}
                  <a href="{{ article.url }}#comments">
                    {{ 'blogs.comments.with_count' | t: count: article.comments_count }}
                  </a>
                  {%- endif -%}

                </div>
              </div>
            </article>

          </div>
          {%- endfor -%}
        </div>

        {% comment %}Set the next post as an even one{% endcomment %}

      </div>
    </div>
  </div>
</div>



{%- if paginate.pages > 1 -%}
{%- render 'pagination', paginate: paginate -%}
{%- endif -%}

{%- endpaginate -%}

{% schema %}
{
"name": "Blog pages",
"settings": [
{
"type": "checkbox",
"id": "blog_show_tag_filter",
"label": "Show tag filter"
},
{
"type": "checkbox",
"id": "blog_show_rss",
"label": "Show RSS link"
},
{
"type": "checkbox",
"id": "blog_show_tags",
"label": "Show tags"
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": "Show date",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_comments",
"label": "Show comment count",
"default": true
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": "Show author"
}
]
}
{% endschema %}